@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Oswald:wght@200..700&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Lexend Zetta", sans-serif;
}

nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    width:48px;
    padding: 0 10px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.bottom{
    position:sticky;
    height:90px;
    background-color: black;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items: center ;
    color:white;
    flex-direction: column;
    
}
.container{
    min-height: 60vh;
    background-color: rgb(103, 15, 124);
    color: white;
    font-family: "Oswald", sans-serif;
    display:flex;
    margin: 23px auto;
    width:70%;
    border-radius:15px ;
    padding:30px;
    background-image:url('girl_bg_music.png') ;
}
#myProgressbar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
    
}
.icons{
    margin-top:24px;
}
.icons i{
    cursor:pointer;
}
.songitem{
    height:35px;
    display:flex;
    background-color: white;
    /* width:80%; */
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    
}
.songitem img{
    width:40px;
    height:35px;
    margin: 0 22px 0px;
    /* border-radius: 40px;*/
} 
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position:absolute;
    left:10vw;
    display: flex;
    font-family: "Oswald", sans-serif;
}
.songinfo img{
   opacity: 0;
   transition: opacity 0.3s ease-in;
}